<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SPA Playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4801129F1F6F4EF500097BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480112B31F6F4EF500097BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>480112BE1F6F4EF600097BEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
